<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACSDiagnosticsMainForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACSDiagnosticsMainForm.Properties.Settings>
            <setting name="DBUser" serializeAs="String">
                <value>reports</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>reports</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>SVKASDB.ENG.PNET.COM</value>
            </setting>
            <setting name="debugsteps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>clsDiagnosticTest.ucDiagnosticPing</string>
                        <string>clsDiagnosticTest.ucDiagnosticSAPPOBOMPull</string>
                        <string>clsDiagnosticTest.ucDiagnosticDatabaseCheck</string>
                        <string>clsDiagnosticTest.ucDiagnosticNetworkTest</string>
                        <string>clsDiagnosticTest.ucDiagnosticAccessFiles</string>
                        <string>clsDiagnosticTest.ucDiagnosticUserQuestions</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ACSDiagnosticsMainForm.Properties.Settings>

    </userSettings>
</configuration>