<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="clsDiagnosticTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DatabaseName" value="ENGACSDB.ENG.PSCNET.COM" />
    <add key="DBUser" value="reports"/>
    <add key="DBPassword" value="reports"/>
  </appSettings> 

  <userSettings>
    <clsDiagnosticTest.Properties.Settings>
      <setting name="UserQuestions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Are you able to access your email?</string>
            <string>Can you access the internet?</string>
            <string>Does the network appear to be working?</string>
            <string>Have you tried stopping and restarting the machine(s) in question?</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDirections" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Check with IT for network connectivity problems.</string>
            <string>Check with IT for internet access.</string>
            <string>Check with IT for network connectivity problems.</string>
            <string>Try starting and stopping the machine(s) that you are having problems with.</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>reports</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>reports</value>
      </setting>
      <setting name="TestDatabase" serializeAs="String">
        <value>Data Source=ENGACSDB.ENG.PSCNET.COM;Initial Catalog="ACS EE";User ID=reports;Password=reports</value>
      </setting>
      <setting name="NetworkAddress" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>10.1.10.71</string>
            <string>10.1.1.101</string>
            <string>10.1.50.54</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>ENGACSDB.ENG.PSCNET.COM</value>
      </setting>
    </clsDiagnosticTest.Properties.Settings>
  </userSettings>
</configuration>